@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  margin: auto;
  max-width: 80%;
}
#home {
  background-image: url("../images/barrett-ward-cOJgO4Zzs-w-unsplash.jpg");
  background-position: center;
  background-size: cover;
}
